body {
    font-family: sans-serif;
    background-color: #001C30;
}

table.main-table {
    margin: auto;
    margin-top: 30px;
}

.main-table a {
    text-decoration: none;
    color: unset;
}

.main-table th {
    color: lightgray;
}

.main-table th, .main-table td{
    padding: 10px;
    width: 150px;
    text-align: left;
    border-radius: 10px;
}

.lightgrey {
    background-color: #64CCC5;
}

.darkgrey {
    background-color: #176B87;
}

.dark {
    background-color: #0c3745;
}

table tr td, table tr th {
    text-align: center!important;
}
